<div fxLayout="row" fxLayoutAlign="space-between flex-start">
  <h1>Posts</h1>
</div>

<div class="error" *ngIf="error | async"> {{error | async}}</div>
<mat-progress-spinner *ngIf="loading | async else postsArea" mode="indeterminate"></mat-progress-spinner>
<ng-template #postsArea>

  <div fxLayout="column" fxLayoutGap="16px grid" *ngFor="let post of posts | async">
    <div fxFlex.xs="100%" fxFlex.sm="50%" fxFlex.lt-lg="33%" fxFlex="25%">
      <mat-card class="card">
        <mat-card-title-group>
          <img mat-card-sm-image
               [src]="post.image | image"
               [alt]="'Photo of' + post.title"/>
          <mat-card-subtitle>Datetime: {{ post.datetime }}</mat-card-subtitle>
          <mat-card-title [routerLink]="['/posts/', post._id]" >Title: {{ post.title }}</mat-card-title>
        </mat-card-title-group>
      </mat-card>
    </div>
  </div>
</ng-template>




