<div fxLayout="row" fxLayoutAlign="space-between flex-start">
  <h1>Post</h1>
</div>

<div class="error" *ngIf="error | async"> {{error | async}}</div>
<mat-progress-spinner *ngIf="loading | async else postsArea" mode="indeterminate"></mat-progress-spinner>
<ng-template #postsArea>

  <div fxLayout="column" fxLayoutGap="16px grid" *ngIf="user | async">
    <div fxFlex.xs="100%" fxFlex.sm="50%" fxFlex.lt-lg="33%" fxFlex="25%">
      <mat-card class="card">
        <mat-card-title-group>
          <img mat-card-sm-image
               [src]="newPost.image | image"
               [alt]="'Photo of' + newPost?.title"/>
          <mat-card-subtitle>Datetime: {{ newPost?.datetime }}</mat-card-subtitle>
          <mat-card-title >Title: {{ newPost?.title }}</mat-card-title>
          <mat-card-title >Description: {{ newPost?.description }}</mat-card-title>

        </mat-card-title-group>
          <mat-card-subtitle *ngFor="let comment of comments | async">Comments: {{ comment.description }} </mat-card-subtitle>
        <a [routerLink]="['/comment']">ADD NEW COMMENT</a>
      </mat-card>
    </div>
  </div>
</ng-template>
