<mat-sidenav-container class="sidenav-container">
  <mat-sidenav-content>
    <mat-toolbar color="primary" fxLayout="row" fxLayoutAlign="space-between centre">
      <div>
        <a routerLink="/">FORUM</a>
      </div>
      <nav *ngIf="!(user | async) else userMenu">
        <a mat-button routerLink="/register">REGISTER</a>
        <a mat-button routerLink="/login">SIGN IN</a>
      </nav>
    </mat-toolbar>
    <div class="content">
      <ng-content></ng-content>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

<ng-template #userMenu>
  <nav>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>account_circle</mat-icon>
    </button>
    <mat-menu #menu=matMenu>
      <mat-card-title>Hello! {{ newUser?.name }}</mat-card-title>
      <a mat-menu-item routerLink="/new">ADD NEW POST</a>
      <button mat-menu-item (click)="logout()">LOGOUT</button>
    </mat-menu>
  </nav>
</ng-template>


