<app-center-card title="Comment">
  <form #f="ngForm"
        fxLayout="column"
        autocomplete="off"
        (ngSubmit)="onSubmit()">
    <div class="error" *ngIf="error | async">
      {{ error | async }}
    </div>
    <mat-form-field appearance="outline">
      <mat-label>Description</mat-label>
      <textarea
        name="description"
        ngModel
        required
        matInput
        cdkTextareaAutosize
        cdkAutosizeMinRows="3"
      ></textarea>
    </mat-form-field>
    <button
      type="submit"
      mat-raised-button
      color="primary"
      [disabled]="f.invalid"
    >SAVE
    </button>
  </form>
</app-center-card>


